export DATABASE_URL="postgresql://postgres:postgres@localhost/postgraphile-workshop";
export ROOT_DATABASE_URL="postgresql://postgres:postgres@localhost/postgres"
export SHADOW_DATABASE_URL="postgresql://postgres:postgres@localhost/postgraphile-workshop-shadow";
export I_SPONSOR_GRAPHILE="and_acknowledge_prerelease_caveats";
